.btn.btn-success a {
  color: $gray !important;
}

.btn.btn-danger a {
  color: $light-gray !important;
}

.btn.btn-primary a {
  color: $light-gray !important;
}

.btn a {
  text-decoration: none !important;
}
